/*-------- Variables --------*/
:root {
  --primary-bg-color: #fff;

  --header-primary-color: #ffe01b;
  --topmost-form-bg: #403b3b;

  --primary-text-color: #241c15;
  --secondary-text-color: #403b3b;
  --link-text-color: #fff;

  --alternative-link-color: #007c89;

  --heading-font-family: "Newsreader", sans-serif;
  --content-font-family: "Rubik", sans-serif;
}

/*---------- Reset ----------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  font-family: var(--content-font-family);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--content-font-family);
}

img {
  width: 100%;
}

/*-------- Utilities ---------------*/

.landing-wrapper {
  /* border: 3px solid blue; */
  margin: 0 auto;
  padding: 14rem 0 5rem;
  width: 1099px;
}

.content-wrapper {
  /* border: 3px solid blue; */
  margin: 0 auto;
  padding: 8rem 0 4rem;
  width: 1099px;
}

.nav-btn {
  padding: 12px 16px;
}

.section {
  width: 100%;
}

/*------- Page Content ----------*/

body {
  background-color: var(--primary-bg-color);
}

/*--------- Header ---------*/
.header {
  background-color: var(--header-primary-color);
  /* border: 2px solid red; */
  width: 100%;
}

/* Topmost Search */
.topmost-form {
  background-color: var(--topmost-form-bg);
  color: var(--link-text-color);
  display: none;
  width: 100%;
  height: 85vh;
  transition: display 2s ease-in;
}

.topmost__content-wrapper {
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.topmost-upper {
  /* border: 3px solid red; */
  margin: auto;
  width: 95%;
  padding: 0 0 0 3rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid pink; */
  width: 100%;
}

.form-group {
  position: relative;
  padding: 10px 0;
  margin-right: 1rem;
  width: 57rem;
}

.form-group input {
  border: 1px solid transparent;
  border-radius: 0;
  border-bottom-color: var(--link-text-color);
  color: var(--link-text-color);
  background-color: var(--topmost-form-bg);
  font-family: var(--heading-font-family);
  font-size: 32px;
  padding: 20px 10px;
  width: 100%;
}

.form-group input:hover::placeholder {
  color: var(--link-text-color);
}

.search-delete {
  cursor: pointer;
  font-size: 70px;
}

.form-group i {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 2.1rem;
  right: 5px;
}

.form-group i:hover,
.search-delete:hover {
  color: var(--alternative-link-color);
}

.drag-hands {
  position: relative;
  width: 100%;
}

.left-hand img,
.right-hand img {
  bottom: -70px;
  height: 120px;
  width: 200px;
  position: absolute;
}

.left-hand img {
  left: 0;
}

.right-hand img {
  right: 0;
}

.search-tag__box {
  margin: 4rem 0 7rem;
  /* padding: 20px 0; */
}

.search-directive {
  font-size: 20px;
  font-family: var(--content-font-family);
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.search-tag__wrap {
  /* white-space: wrap; */
  width: 92%;
}

.search-tag {
  display: inline-flex;
  border: 1px solid var(--link-text-color);
  cursor: pointer;
  font-size: 24px;
  padding: 15px 55px;
  margin: 0 15px 15px 0;
}

/* Header bar*/
.header-bar__wrapper.hovered {
  background-color: var(--link-text-color);
}

.header-bar__layout {
  position: fixed;
  transition: 0.5s ease;
  width: 100%;
}

.header-bar {
  /* border: 4px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--content-font-family);
  font-size: 14px;
  font-weight: 500;
  width: 98%;
  margin: 0 auto;
  padding: 0.7rem 0.6rem;
  /* width: 1350px; */
}

/* Hamburger */
.hamburger-box {
  display: none;
  /* outline: 3px solid blue; */
}

.hamburger-icon {
  color: var(--primary-text-color);
  cursor: pointer;
  text-align: center;
  width: 38px;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-list {
  padding: 0.4rem 1rem;
}

.nav .nav-link {
  color: var(--primary-text-color);
}

.nav .nav-link:hover {
  color: var(--alternative-link-color);
  text-decoration: underline;
  line-height: 1.5;
}

/* Logo */
.logo-box {
  cursor: pointer;
  width: 7.3rem;
}

.logo-box:hover #head {
  animation: animLogo 0.5s ease-in;
}

@keyframes animLogo {
  0% {
    transform: rotate(0) translateY(0);
    -moz-transform: rotate(0) translateY(0);
    -webkit-transform: rotate(0) translateY(0);
  }
  50% {
    transform: rotate(-5deg) translateY(-5px);
    -moz-transform: rotate(-5deg) translateY(-5px);
    -webkit-transform: rotate(-5deg) translateY(-5px);
  }
  100% {
    transform: rotate(0) translateY(0);
    -moz-transform: rotate(0) translateY(0);
    -webkit-transform: rotate(0) translateY(0);
  }
}

/* Right Section of navigation bar */
.right-navigation__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-navigation__section > * {
  margin: 5px 10px;
}

.search-icon i {
  cursor: pointer;
  font-size: 20px;
}

.nav__login-btn {
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
}

.nav__login-btn:hover {
  background-color: #eee;
}

.nav__signup-btn {
  background-color: var(--alternative-link-color);
  color: var(--primary-bg-color);
}

.nav__signup-btn:hover {
  background-color: #02545f;
}

/*--------- Landing Page  ---------*/

.landing-content {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left-section right-section";
  row-gap: 4rem;
  margin: 0 4.5rem;
}

.landing-left {
  /* border: 2px solid black; */
  grid-area: left-section;
}

.landing-heading {
  font-size: 54px;
  font-weight: 500;
  margin-bottom: 1.1rem;
  line-height: 1;
}

.landing-paragraph {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 2.6rem;
}

.landing-link {
  background-color: var(--alternative-link-color);
  color: var(--link-text-color);
  font-family: var(--content-font-family);
  font-weight: 500;
  padding: 20px 30px;
}

.landing-right {
  grid-area: right-section;
  display: flex;
  align-items: center;
}

.landing-right .img-box {
  /* border: 3px solid brown; */
  margin: auto;
}

/*---------- Specialties Section ----------*/
.intro-desc {
  /* outline: 3px solid red; */
  margin: 0 auto 6rem;
  padding: 10px 0px;
  text-align: center;
  width: 60%;
}

.intro-desc h2 {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.intro-desc p {
  color: var(--secondary-text-color);
  font-size: 15px;
  line-height: 1.5;
}

.briefs-box {
  /* outline: 3px solid brown; */
  margin: 2rem auto;
}

.each-brief {
  background-color: var(--topmost-form-bg);
  color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  /* outline: 3px solid green; */
  margin: 0 auto 8rem;
  padding: 1rem 3rem;
  width: 85%;
}

.each-brief__text,
.each-brief__image {
  /* outline: 2px solid blueviolet; */
}

.each-brief__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: text;
}

.each-brief__image img {
  height: 300px;
  object-fit: cover;
}

.each-brief__image {
  grid-area: image;
}

.each-brief__text h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}

.each-brief__text p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0 2.8rem 3.8rem 0;
}

.each-brief__text .brief-link {
  color: var(--header-primary-color);
  font-size: 17px;
}

.brief-link .link-arrow {
  font-size: 24px;
  margin: 0 0 0 5px;
}

.brief-link:hover .link-arrow {
  transform: translateX(10px);
}

/* Second Section of Specialties */
.briefs-two__box {
  margin: 0 auto;
  width: 85%;
}

.briefs-two__box .intro-text {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 3rem;
}

.each-service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "service-img service-txt";
  grid-gap: 3.5rem;
  margin-bottom: 8rem;
}

.service-image {
  grid-area: service-img;
}

.service-desc {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  grid-area: service-txt;
}

.service-desc h2 {
  font-size: 32px;
  font-weight: 500;
}

.service-desc p {
  font-size: 16px;
  line-height: 1.4;
}

.service-link {
  color: var(--alternative-link-color);
}

.service-link:hover {
  text-decoration: underline;
}

/*-------- Media Queries --------*/

@media screen and (max-width: 1099px) {
  .navigation-list,
  .search-icon,
  .nav__signup-btn {
    display: none;
  }

  .hamburger-box {
    display: flex;
  }

  .nav__login-btn {
    border: transparent;
  }

  .landing-wrapper {
    padding: 12rem 0 3rem;
    width: 95%;
  }

  .content-wrapper {
    width: 95%;
  }

  .landing-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left-section"
      "right-section";
    margin: 0 8rem;
  }

  .landing-left {
    margin-bottom: 1rem;
  }

  .each-brief {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
    padding: 0 1rem;
  }

  .each-brief__text {
    padding: 1.5rem 1rem;
  }

  .each-brief__image {
    padding: 0 0.5rem;
  }

  .each-brief img {
    height: 600px;
  }

  .brief-img {
    /* outline: 3px solid yellow; */
  }
}

@media screen and (max-width: 599px) {
  .landing-content {
    margin: 0 1rem;
  }

  .content-wrapper {
    width: 100%;
  }

  .each-brief {
    width: 90%;
  }

  .briefs-two__box {
    width: 90%;
  }

  .each-service {
    grid-template-columns: 1fr;
    grid-template-areas:
      "service-img"
      "service-txt";
    grid-gap: 3rem;
  }

  .service-heading,
  .service-para {
    margin-bottom: 2rem;
  }
}
